.section {
  min-height: 723px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-overlay {
    background-color: rgba(60, 72, 88, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

.title {
  font-size: calc(1.8rem + 0.9vw);
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 4px 4px 0 0;
}

.card-primary {
  background: #fff;
  padding: 30px;
  border-radius: 4px 4px 0 0;
  border: 2px solid #80A7CB;
}

.border {
  border: 2px solid #80A7CB !important;
}

.bg-primary {
  background: #125CA0 !important;
}