.section {
  min-height: 723px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-overlay {
    background-color: rgba(60, 72, 88, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

.title {
  font-size: calc(1.8rem + 0.9vw);
}

.subtitle {
  
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 4px 4px 0 0;
}

.card-primary {
  background: #fff;
  padding: 30px;
  border-radius: 4px 4px 0 0;
  border: 2px solid #80A7CB;
}

.border {
  border: 2px solid #80A7CB !important;
}

.bg-primary {
  background: #125CA0 !important;
}

.btn-primary-dark {
  color: #fff;
  background-color: #2566AE;
  border-color: #2566AE;
}

.btn-primary-dark:hover {
  color: #fff;
  background-color: #2566AE;
  border-color:#2566AE;
}
.btn-primary-dark:focus, .btn-primary-dark.focus {
  color: #fff;
  background-color: #2566AE;
  border-color: #2176bd;
  box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}

@font-face {
  font-family: 'GalanoGrotesqueAltBold';
  src: local('GalanoGrotesqueAltBold'), url("/fonts/GalanoGrotesqueAltBold.otf");
}

@font-face {
  font-family: 'GalanoGrotesqueAltBlack';
  src: local('GalanoGrotesqueAltBlack'), url("/fonts/GalanoGrotesqueAltBlack.otf");
}

@font-face {
  font-family: 'GalanoGrotesqueAltHeavy';
  src: local('GalanoGrotesqueAltHeavy'), url("/fonts/GalanoGrotesqueAltHeavy.otf");
}

@font-face {
  font-family: 'GalanoGrotesqueAltExtraLight';
  src: local('GalanoGrotesqueAltExtraLight'), url("/fonts/GalanoGrotesqueAltExtraLight.otf");
}

@font-face {
  font-family: 'GalanoGrotesqueAltLight';
  src: local('GalanoGrotesqueAltLight'), url("/fonts/GalanoGrotesqueAltLight.otf");
}

@font-face {
  font-family: 'GalanoGrotesqueAltSemiBold';
  src: local('GalanoGrotesqueAltSemiBold'), url("/fonts/GalanoGrotesqueAltSemiBold.otf");
}

body {
  font-family: 'GalanoGrotesqueAltLight';
}

h1, h2, h3, h4 {
  font-family: 'GalanoGrotesqueAltSemiBold';
}

.routerLink{
  text-decoration: none;
}